body {
  margin: 0;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disco-box {
  width: 150px;
  height: 150px;
  background-color: red;
  animation: discoSpin 5s linear infinite;
}

@keyframes discoSpin {
  0% {
    transform: rotate(0deg);
    background-color: red;
  }
  25% {
    transform: rotate(90deg);
    background-color: rgb(52, 132, 163);
  }
  50% {
    transform: rotate(180deg);
    background-color: lime;
  }
  75% {
    transform: rotate(270deg);
    background-color: blue;
  }
  100% {
    transform: rotate(360deg);
    background-color: red;
  }
}
